/*------------------------------------------------------------*/
/*
=== Advanced Youtube Channel Pagination ===
Contributors: Balasaheb Bhise
*/

/*------------------------------------------------------------*/
#youtubechannelpagination-player {
  margin-bottom: 10px;
}

#youtubechannelpagination-list {
  overflow-y: auto;
}

#youtubechannelpagination-list ul {
  margin: 0;
  padding: 0;
}

#youtubechannelpagination-list ul li {
  background: none;
  display: inline;
  float: left;
  margin: 0 0 10px 0;
  padding: 0 5px 0 0;
}

#youtubechannelpagination-list h2 {
  font-size: 16px;
}

#youtubechannelpagination-list img {
  border: 1px solid #c3c3c3;
  height: 55px;
  padding: 2px;
}
#channel_url {
  padding-bottom: 10px;
  padding-top: 10px;
}
